  body {
    height: 100%;
    background-color: black;
  }
  
  .wrapper {
    height: 80%;
    color: orange;
  }
  
  .box-wrapper {
    padding: 0px;
    background-color: grey;
    border: 1px solid grey;
  }
  
  .box {
    height: 70px;
  }
  
  .break {
    margin-top: 30px;
  }
  
  .form-control {
    height: auto;
  }
  
  #pause-btn {
    font-size: 12px;
    font-weight: bold;
    padding: 1px 6px;
  }
  
  #pauseStatus {
    color: red;
  }
  
  #selected_color {
    width: 240px;
    height: 100px;
    background-color: rgb(128, 128, 128);
    margin-bottom: 10px;
  }
  
  .color_table {
    width: 100%;
  }
  
  .color_table tr td {
    cursor: pointer;
  }
  
  .color_table tr:hover {
    color: black;
  }
